<hr>
<footer class="footer">
    <div class="footer-text">
        <p><span>Direccion:</span> Lorem, ipsum dolor.</p>
        <p><span>Telefono:</span> +54134123</p>
    </div>
    <div class="contact">
    
        <div class="contact-icons">
            <h4>Contacto:</h4>
            <a href="#">
                <i class="fab fa-facebook-square"></i>
            </a>
            <a href="#">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="#">
                <i class="fab fa-whatsapp"></i>
            </a>
        </div>
        <p><span>&copy; Elian Arismendi, Fz Indumentaria</span></p>
    </div>
</footer>