<header class="header">
    <div class="grid">
        <div class="logo">
            <p class="fz">Fz</p>
            <P>Indumentaria</P>
        </div>

        <nav class="header__nav">
            <a [routerLink]="['/home']" class="nav__link">Home</a>
            <a [routerLink]="['/shop']" class="nav__link">Tienda</a>
            <a [routerLink]="['/login']" class="nav__link">Iniciar Sesion</a>
            <a [routerLink]="['/login']" class="nav__link">Registrarse</a>
        </nav>
    </div>
</header>