<section class="banner">
    <div class="banner-img-container">
        <img src="https://images.pexels.com/photos/996329/pexels-photo-996329.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="">
    </div>
    <div class="banner-text">
        <div class="text">
            <h1><span>Fz</span> Indumentaria</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur esse ut quos nobis similique obcaecati hic non cumque earum molestiae.</p> 
            <a href="#" class="button">TIENDA</a>    
        </div>
    </div>
</section>

<hr>

<!-- Offers -->
<app-offers></app-offers>

<!-- about -->
<app-about></app-about>
