
.about-us {
    background-color: #efeae4;    
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    margin-bottom: 50px;
    
}

.about-text {
    grid-column: 1 / span 6;
    grid-row: 1/-1;
    margin: auto;
}
.text {
    width: 500px;
}
.text .title {
    font-size: 30px;
    margin: 40px 0;
    color: black;
}

.text .title .initials {
    color: #bf8c59;
}
.text .title .rest {
    color: #dc8a3e;
}
.text p {
    text-align: justify;
    font-size: 22px;
    margin-bottom: 50px;
}
.about-icon {
    grid-column: 7 / 12;
    grid-row: 1/-1;
}
.about-icon svg {
    width: 100%;
}
