<div class="item-on-sale">
    <picture class="item-img">
        <img src="https://images.pexels.com/photos/45982/pexels-photo-45982.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="">
    </picture>
    <div class="item-text">
        <h5>Lorem, ipsum dolor.</h5>
        <p>Price: <span>$ 50</span><svg class="price-arrow" fill="none" stroke="currentColor" viewBox="0 -7 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 8l4 4m0 0l-4 4m4-4H3"></path></svg> $ 30</p>
        <a href="#" class="btn">Ir!</a>
    </div>
</div>